.course-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.course-headers {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
}

.course-headers > div {
    flex: 1;
}

.course-row {
    font-size: 20px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    align-items: center;
    margin-bottom: 10px;
}

.course-row:hover {
    background-color: #f0f0f0;
}

.course-row > div {
    flex: 1;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.course-row button {
    background: none;
    align-items: center;
    color: black;
    border: none;
    margin: 5px 10px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.course-row button:hover {
    color: #d32f2f; /* Darker red */
    text-decoration: underline;
}

.total-gpa {
    margin-top: 20px;
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 8px;
    border-top: 1px solid #ccc;
}

.total-gpa p {
    font-size: 22px;
    font-weight: bold;
}

.empty-state {
    text-align: center;
    color: #666;
    font-style: italic;
    margin-top: 20px;
}

@media only screen and (max-width: 450px) {
    .course-list {
        max-width: 400px;
        padding: 10px;
    }

    .course-headers h3 {
        font-size: 15px;
    }

    .course-row {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .course-row button {
        font-size: 15px;
        margin: 5px 5px;
    }
}
